<html>
 <p class="error">{{ .Error }}</p>
 <p class="message">{{ .Message }}</p>
<form action="change_password" method="post">
  <input type="password" name="OldPassword"
   required
   placeholder="Old Password" />

  <input type="password" name="NewPassword"
   required
   placeholder="New Password" />
  <input type="password" name="ConfirmNewPassword"
   required
   placeholder="Confirm New Password" />

  <input type="hidden" name="csrf_token" value="{{ .Form.Token }}"/>
  <input type="submit" value="Submit"/>
</form>
</html>
